@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

body {
    margin: 0 auto;
    max-width: 80%;
}

:root {
    --base-color: #FF5400;
    --white-color: color: #FFF;
    --black-color: color: #131318;
    --gray-color: color: #424247;
}

.header {
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-content {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    width: 50%;
}

.header .header-content .header-title {
    color: var(--black-color);
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header nav ul li a {
    text-decoration: none;
    color: var(--gray-color);
    font-size: 1rem;
}

.home-nav {
    font-weight: 700;
}

.special {
    color: var(--base-color);
}

.banner {
    width: 100%;
}

.banner-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),
        url('../Images/Group_13.png');
    background-size: cover;
}

.banner-content {
    color: white;
    text-align: center
}

.banner-text {
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 800;
}

.banner-description {
    width: 676px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
}

.banner-content>* {
    margin-bottom: 20px;
}


.banner .banner-image .banner-form {
    border-radius: 8px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.30);

}

.banner .banner-image .banner-form .text-input {
    border-radius: 5px;
    background: #FFF;
    width: 120px;
    padding: 10px;
    border: none;
    margin-right: 15px;
    color: rgba(19, 19, 24, 0.50);
}

.banner .banner-image .banner-form .text-input::placeholder {
    color: rgba(19, 19, 24, 0.50);
}

.banner .banner-image .banner-form button {
    background-color: var(--base-color);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 0.8rem;
    cursor: pointer;
}

.popular-tour {
    margin: 70px auto;
}

.popular-tour-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.popular-tour-container .popular-tour-text {
    width: 50%;
}

.popular-tour-text>*,
.popular-tour-description>* {
    margin-bottom: 20px;
}

.popular-tour-title {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.popular-tour-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 20px;
    text-align: justify;
}

.popular-tour-description ul {
    padding-left: 50px;
}

.popular-tour-description ul li {
    margin-bottom: 15px;
}

.popular-tour-image {
    width: 50%;
}

.popular-tour-image img {
    width: 100%;
}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    color: white;
    padding: 10px 20px;
    outline: 0px solid rgb(204, 201, 201);
    border: none;
    cursor: pointer;
}

.btn-primary:hover {
    cursor: pointer;
    outline: 2px solid rgb(204, 201, 201);
    scale: 1.1;
}