@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 80%;
}

:root {
    --base-color: #FF5400;
    --white-color: #FFF;
    --black-color: #131318;
    --gray-color: #424247;
}

.header {
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon{
    display: none;
}

.header .header-content {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    width: 50%;
}

nav{
    width: 50%;
}

.header .header-content .header-title {
    color: var(--black-color);
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


.footer-title {
    color: var(--black-color);
    font-size: 1.2rem;
    font-weight: 800;
}

.header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header nav ul li a {
    text-decoration: none;
    color: var(--gray-color);
    font-size: 1rem;
}

.home-nav {
    font-weight: 700;
}

.special {
    color: var(--base-color);
}

.banner {
    width: 100%;
}

.banner-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),
        url('../Images/Group_13.png');
    background-size: cover;
}

.banner-content {
    color: var(--white-color);
    text-align: center;
}

.banner-text {
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 800;
}

.banner-description {
    width: 676px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
}

.banner-content>* {
    margin-bottom: 20px;
}


.banner .banner-image .banner-form {
    border-radius: 8px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.30);

}

.banner .banner-image .banner-form .text-input {
    border-radius: 5px;
    background: var(--white-color);
    width: 120px;
    padding: 10px;
    border: none;
    margin-right: 15px;
    color: rgba(19, 19, 24, 0.50);
}

.banner .banner-image .banner-form .text-input::placeholder {
    color: rgba(19, 19, 24, 0.50);
}

.banner .banner-image .banner-form button {
    background-color: var(--base-color);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 0.8rem;
    cursor: pointer;
}

.popular-tour {
    margin: 70px auto;
}

.popular-tour-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.popular-tour-container .popular-tour-text {
    width: 50%;
}

.popular-tour-text>*,
.popular-tour-description>* {
    margin-bottom: 20px;
}

.popular-tour-title {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.popular-tour-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 20px;
    text-align: justify;
}

.popular-tour-description ul {
    padding-left: 50px;
}

.popular-tour-description ul li {
    margin-bottom: 15px;
}

.popular-tour-image {
    width: 50%;
}

.popular-tour-image img {
    width: 100%;
}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    color: white;
    padding: 10px 20px;
    outline: 0px solid rgb(204, 201, 201);
    border: none;
    cursor: pointer;
    font-weight: 800;
}

.btn-primary:hover {
    cursor: pointer;
    outline: 2px solid rgb(204, 201, 201);
    scale: 1.1;
}

.destination-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destination-text h2 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 2rem;
    font-weight: 800;
}


.destination-text p {
    margin: 15px auto;
    width: 50%;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 20px;
}

.destination-image-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.destination-image-container img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.grid-item-1 {
    grid-column: 1/span 6;
    grid-row: 1/span 1;
    position: relative;
}

.grid-item-2 {
    grid-column: 7/span 6;
    grid-row: 1/span 1;
    position: relative;
}

.grid-item-3 {
    grid-column: 1/span 3;
    grid-row: 2/span 1;
    position: relative;
}

.grid-item-4 {
    grid-column: 4/span 6;
    grid-row: 2/span 1;
    position: relative;
}

.grid-item-5 {
    grid-column: 10/span 3;
    grid-row: 2/span 1;
    position: relative;
}

.grid-item-6 {
    grid-column: 1/span 4;
    grid-row: 3/span 1;
    position: relative;
}

.grid-item-7 {
    grid-column: 5/span 8;
    grid-row: 3/span 1;
    position: relative;
}

.maldives,
.indonesia,
.srilanka,
.north-amerika,
.kashmir,
.bangladesh,
.bandarban {
    position: absolute;
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 800;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.choose-us {
    margin: 70px auto;
}

.choose-us-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.choose-us-text h2 {
    color: #131318;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


.choose-us-text p {
    margin: 15px auto;
    width: 50%;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 20px;
}

.choose-us-image-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

.box-1 {
    grid-column: 1/span 6;
    grid-row: 1/span 1;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 20px;
    margin-bottom: 20px;
}

.box-2 {
    grid-column: 7/span 6;
    grid-row: 1/span 1;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 20px;
    margin-bottom: 20px;
}

.box-3 {
    grid-column: 4/span 6;
    grid-row: 2/span 1;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 20px;
    margin-bottom: 20px;
}

.choose-us-image-container img {
    margin-bottom: 20px;
}

.choose-us-box-text h3 {
    margin-bottom: 20px;
    color: #131318;
    font-size: 1.2rem;
    font-weight: 800;
}


.choose-us-box-text p {
    color: #5A5A5D;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 20px;
}

.discount-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.discount-text h2 {
    color: #131318;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


.discount-text p {
    margin: 15px auto;
    width: 50%;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 20px;
}

.discount-image-container {
    width: 100%;
}

.discount-image-container>div {
    margin-bottom: 15px;
}

.discount-item-1,
.discount-item-2 {
    width: 100%;
}

.discount-item-1>img,
.discount-item-2>img {
    width: 100%;
    height: 500px;
}

.discount-item-1,
.discount-item-2 {
    position: relative;
}

.discount-card-1 {
    position: absolute;
    width: 550px;
    height: 390px;
    top: 60px;
    right: 60px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

.discount-card-2 {
    position: absolute;
    width: 550px;
    height: 390px;
    top: 60px;
    left: 60px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

.discount-card-1,
.discount-card-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}


.discount-card-1-icon,
.discount-card-2-icon {
    display: flex;
    align-items: center;
    margin: 0 50px;
}

.icon-text{
    display: flex;
    align-items: center;
}

.discount-card-1-icon img,
.discount-card-2-icon img {
    width: 30px;
}

.discount-card-1-text,
.discount-card-2-text {
    margin: 16px 50px;
}

.discount-card-1-text h3,
.discount-card-2-text h3 {
    color: #131318;
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 16px;
}

.discount-card-1-text p,
.discount-card-2-text p {
    color: #5A5A5D;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 16px;
}

.discount-card-1-text h4,
.discount-card-2-text h4 {
    color: #FF5400;
    font-size: 1.1rem;
    font-weight: 800;
    margin-bottom: 16px;
}

.condition {
    color: #5A5A5D;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0 10px;
}

.all-package-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfect-place {
    margin: 70px auto;
}

.perfect-place-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.perfect-place-container .perfect-place-text {
    width: 50%;
}

.perfect-place-text>*,
.perfect-place-description>* {
    margin-bottom: 20px;
}

.perfect-place-title {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.perfect-place-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 20px;
    text-align: justify;
}

.perfect-place-description ul {
    padding-left: 50px;
}

.perfect-place-description ul li {
    margin-bottom: 15px;
}

.perfect-place-image {
    width: 50%;
    position: relative;
}

.perfect-place-image video{
    width: 100%;
}


.video-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.perfect-place-image img {
    width: 100%;
}

.perfect-place-image video {
    background: url("../Images/Group_40089.png") 50% 50% / cover no-repeat;
    border-radius: 15px;
}


.strong {
    color: #131318;
    font-weight: 700;
}


.news-letter {
    margin: 70px auto;
}

.news-letter-container {
    display: flex;
    justify-content: space-between;    
    gap: 50px;
    height: 100%;
}

.news-letter-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.news-letter-text h2 {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.news-letter p,
.customer-review-content p {
    color: #5A5A5D;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 20px;
    text-align: justify;
}

.news-letter-text>* {
    margin-bottom: 20px;
}

.news-letter-form {
    display: flex;
    flex-direction: column;
}

.news-letter-image {
    width: 100%;
    position: relative;
}

.news-letter-image img {
    width: 100%;
    height: 450px;
}

.news-letter-line {
    /* width: 320px; */
    margin-bottom: 15px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}

.news-letter .news-letter-form .text-input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 100%;
    height: 52px;
    padding: 10px;
    border: none;
    margin-right: 15px;
    color: rgba(19, 19, 24, 0.50);
    margin-bottom: 20px;
}

.news-letter .news-letter-form .text-input::placeholder {
    color: rgba(19, 19, 24, 0.50);
}

.news-letter .news-letter-form button {
    background-color: var(--base-color);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 0.8rem;
    cursor: pointer;
    /* width: 393px; */
    height: 52px;
}

.save-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    position: absolute;
    bottom: 52px;
    right: 7px;
}

.save-up p,
.save-up h2 {
    color: white;
}

.customer-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px auto;
}

.customer-review-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.customer-review-content {
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid rgba(128, 128, 128, 0.233);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}

.customer-review h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.customer-review-content>* {
    margin-bottom: 20px;
}

.customer-review-content img {
    width: 100%;
}

.customer-review-content h3 {
    font-size: 1.5rem;
}

.checked {
    color: orange;
}

footer {
    background: rgba(19, 19, 24, 0.05);
    padding: 60px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-section p {
    width: 40%;
    color: #5A5A5D;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 20px;
    margin-top: 20px;
    /* 162.5% */
}

.footer-line {
    width: 50%;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}

.reserved {
    margin: 20px auto;
    color: #131318;
    font-size: 0.8rem;
    font-weight: 300;
}

.footer-icon{
    margin: 20px auto;
    font-size: 1.5rem;
}

.fa-brands{
    margin-right: 10px;
}


